{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% set classes = is_active 
  ? "[&>a]:text-sky-600 [&>a]:border-sky-500 [&>a]:hover:text-sky-600 [&>a]:hover:border-sky-600" 
  : "[&>a]:text-sky-600 [&>a]:border-transparent [&>a]:hover:text-sky-600 [&>a]:hover:border-sky-600"
%}

<li{{ attributes.addClass("mr-2 [&>a]:inline-block [&>a]:p-4 [&>a]:border-b-2 [&>a]:rounded-t-lg", classes) }}>
  {{ link }}
</li>