{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% set classes = is_active 
  ? "mr-2 [&>a]:inline-block [&>a]:p-4 [&>a]:text-blue-600 [&>a]:border-b-2 [&>a]:border-transparent [&>a]:rounded-t-lg [&>a]:hover:text-blue-700 [&>a]:hover:border-blue-700" 
  : "mr-2 [&>a]:inline-block [&>a]:p-4 [&>a]:text-sky-600 [&>a]:border-b-2 [&>a]:border-transparent [&>a]:rounded-t-lg [&>a]:hover:text-sky-700 [&>a]:hover:border-sky-700"
%}
<li{{ attributes.addClass(classes) }}>
  {{ link }}
</li>